@model IEnumerable<DOMAIN.Models.Ordem>

@{
    ViewData["Title"] = "Ordens";
}

<h1>Ordens</h1>
<p>
    <a asp-action="Create">Criar nova ordem (1)</a>
    <a asp-action="CreateByVM">Criar nova ordem (2)</a>
</p>

<table>
    <thead>
    <tr>
        @using (Html.BeginForm())
        {
            <td>
                @Html.DropDownList("TipoOrdem", (IEnumerable<SelectListItem>)ViewBag.TipoOrdem, "-- Selecione um tipo de ordem--", new { @class = "form-control", id="dropTipoOrdem", onClick= "filtroTipoOrdem()" })
            </td>
        }
    </tr>
    </thead>
</table>


<table class="table" id="tableOrdem">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Tipo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoOrdem.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Visualizar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>